body {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color:azure;
}

/* Header */
#jumbotron {
    background-image: url("images/trainBG1.jpg");
    background-size: 100%;
}
#MainHeader, #headerparagraph {
    color: white;
    text-align: center;
    font-weight: bold;
}
/* Add Train */

/* Current Train Schedule */
